.callout[data-callout="bird-note"] {
    --callout-color: 200, 200, 200;
    --callout-icon: bird;
}
.callout[data-callout="redbird-note"] {
    --callout-color: 222, 93, 93;
    --callout-icon: search-code;
}
.callout[data-callout="fingerprint-note"] {
    --callout-color: 200, 200, 200;
    --callout-icon: fingerprint;
}
.code__suggestion {
    font-family: var(--font-monospace);
    background-color: var(--background-modifier-hover);
    padding: 3px;
    font-size: x-small;
    border-radius: 5px;
}
.code__suggestion_bottom {
    font-family: var(--font-monospace);
    background-color: var(--background-modifier-hover);
    padding: 3px;
    font-size: x-small;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.code__modal {
    font-family: var(--font-monospace);
    font-size: smaller;
    max-height: 200px;
    overflow: scroll;
}

.my-button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
}

.my-button-container button {
    display: table-cell;
    text-align: center;
}

.sidebar-container {
    user-select: text;
}

.sidebar-button {
    transform: scale(0.6, 0.6);
}

.sidebar-table-item {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.sidebar-table-row {
    table-layout: auto;
}